<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Analyzer</title>
</head>
<body>

    <h1>攻击日志</h1>

    <table border="1">
        <tr>
            <th>攻击类型</th>
            <th>日志内容</th>
        </tr>   

        {% for log in logs %}

        <tr>
            <td>{{ log.type }}</td>
            <td>{{ log.content }}</td>
        </tr>

        {% endfor %}
    </table>
    
</body>
</html>