<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Analyzer</title>
</head>
<body>

    <h1>攻击日志</h1>

    <table border="1">

<tr>
    <th>IP</th>
    <th>Method</th>
    <th>URL</th>
    <th>Status</th>
    <th>User-Agent</th>
    <th>Attack</th>
</tr>

{% for log in logs %}

<tr>
    <td>{{ log.ip }}</td>
    <td>{{ log.method }}</td>
    <td>{{ log.url }}</td>
    <td>{{ log.status }}</td>
    <td>{{ log.user_agent }}</td>
    <td>{{ log.attack }}</td>
</tr>

{% endfor %}

</table>
    
<h2>攻击 IP 统计 </h2>

<table border="1">
    <tr>
        <th>IP</th>
        <th>攻击次数</th>
    </tr>

    {% for ip, count in ip_count.items() %}
     
    <tr>
        <td>{{ ip }}</td>
        <td>{{ count }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>